.logo
{
    height: 100%;
    margin-top: 0px;
    background-color: #c50c26;
}
.logo img
{
    width: 450px;
}
.pgInicial
{
    background-color: rgb(189, 151, 103);
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
.pgInicial h2
{
    margin-left: 10px;
    margin-bottom: 5px;
}
.pgInicial p
{
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#carrosel
{
    margin-left: 25%;
    margin-right: 25%;
    
}
#fundo
{
    background-color: rgba(182, 118, 81, 0.699);
    
}