.logo
{
    height: 100%;
    margin-top: 0px;
    background-color: #c50c26;
}
.logo img
{
    width: 450px;
}
#sobre
{
    background-color: rgb(189, 151, 103);
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
}
#sobre h2
{
    margin-left: 10px;
    margin-bottom: 5px;
}
#sobre p
{
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#carrosel
{
    margin-left: 25%;
    margin-right: 25%;
    
}
#fundo
{
    background-color: rgba(182, 118, 81, 0.699);
    
}

#menu
{
    margin-left: 15%;
    margin-right: 15%;

}

#menu h1
{
    text-align: center;
}

#entrada, #principal, #sobremesa
{
    margin-top: 25px;
    padding: 10px;
    border: rgba(0, 0, 0, 0.295) solid 1px;
    border-radius: 5px;
    border-top: #c50c26 solid 2px;
    background-color: white;
}

#entrada h2, #principal h2, #sobremesa h2
{
    color: #c50c26;
}

#items img
{
    height: 150px;
    border: #c50c26 solid 1px;
    border-radius: 5px;
    float: right;
    margin-top: 0px;
    padding: 0px;

}
#items
{
    height: 150px;
    
}

#nome
{
    font-size: large;
    font-weight: bold;
}

#preco
{
    font-weight: bold;
}

#galeria h1
{
    margin-top: 200px;
    margin-bottom: 20px;

}
#galeria
{
    margin-right: 15%;
    margin-left: 15%;
}

#background
{
    background-color: lightgray;
}

